<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="[%d{ISO8601}] %-5p %c %m %n" />
        </layout>
    </appender>

    <category name="org.hibernate">
        <priority value="INFO" />
    </category>

    <category name="org.hibernate.hql">
        <priority value="INFO" />
    </category>

    <category name="org.apache.commons">
        <priority value="ERROR" />
    </category>

    <category name="org.springframework">
        <priority value="WARN" />
    </category>

    <category name="org.apache.velocity">
        <priority value="WARN" />
    </category>

    <category name="com.vmc.biz">
        <priority value="INFO" />
    </category>

    <category name="org.jboss">
        <priority value="DEBUG" />
    </category>
    <category name="org.jboss.cache">
        <priority value="DEBUG" />
    </category>

    <category name="org.hibernate.cache">
        <priority value="DEBUG" />
    </category>
    
    <category name="org.crank">
        <priority value="DEBUG" />
    </category>
    <!--                           -->
    <!-- setup log4j's root logger -->
    <!--                           -->
    <root>
        <level value="all" />
        <appender-ref ref="CONSOLE" />
    </root>
</log4j:configuration>
