<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:s="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.1.xsd">



    <s:http auto-config="false" once-per-request="false"  access-denied-page="/accessDenied.jsf">

        <s:intercept-url pattern="/pages/crud/Users/**" access="ROLE_USER,ROLE_SUPERVISOR"/>
        <s:intercept-url pattern="/login.jsf*" filters="none"/>
		<s:form-login login-page="/login.jsf"
                      authentication-failure-url="/accessDenied.jsf"
                      default-target-url="/index.jsp"/>
        
		<s:logout logout-url="/logout" logout-success-url="/"></s:logout>
        <s:concurrent-session-control max-sessions="1" exception-if-maximum-exceeded="true"/>
    </s:http>


    <s:authentication-provider user-service-ref='myUserDetailsService'/>
    <!--<s:authentication-provider>-->

        <!--<s:jdbc-user-service data-source-ref="employeeDataSource"-->
                             <!--authorities-by-username-query="select username,authority from users where username=?"/>-->
        <!--<s:jdbc-user-service data-source-ref="employeeDataSource"/>-->
                <!---->


    <!--</s:authentication-provider>-->



</beans>